* {
    margin: 0px;
    
}

body {
    background-color: black;
    color: white;
}

.logo {
    text-align: center;
    width: 200px;
    padding: 20px 10px;
    margin: 40px;
    position: absolute;
    border: 1px solid white;
    border-radius: 10px;
}

.botaoZap {
    border: 0px;
    color: black;
    background-color: rgb(125, 212, 122);
    position: absolute;
    padding: 20px;
    top: 40px;
    right: 50px;
    width: 200px;
    float: right;
    border-radius: 15px;
}

.menu {
    position: absolute;
    top: 40px;
    left: 45%;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.containerMain {
    width: 800px;
    position: absolute;
    left: 50px;
    top: 250px;
}

.botaoCompra {
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    border: 0px;
    background-color: rgb(125, 212, 122);
    margin-top: 40px;
    padding: 20px;
    width: 200px;
    border-radius: 5px;
}

.txt2 {
    float: left;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;

}

.txt1 {
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xX-large;
    padding: 20px 5px;
    margin-top: 40px;
    background-color: rgb(23, 49, 19);
    
}

.paragrafo {
    width: 85%;
    margin-top: 140px;

}

.imagem {
    height: 500px;
    opacity: 0.4;
    background-color: rgb(0, 0, 0, 0.3);
    margin: -420px 0px 0px 700px;
}
