* {
    margin: 0px;
}
.logo {
    text-align: center;
    width: 15%;
    padding: 15px 10px;
    margin-left: 30px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 10px;
}
/* "header a whats e icon" usado só para icones */
header a {
    float: right;
    right: 50px;
}

.whats {
    right: 10%;
    position: absolute;
    width: 35px;
    top: 15px;
}

.icon {
    right: 5%;
    position: absolute;
    width: 35px;
    top: 15px;
}

.menu {
    position: absolute;
    top: 10px;
    left: 50%;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

/* home */
.containerHome {
    width: 800px;
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.botaoCompra {
    color: white;
    background-image: linear-gradient(to top,green,rgb(0, 201, 50));
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    border: 0px;
    margin-top: 40px;
    padding: 20px;
    width: 200px;
    border-radius: 5px;
}

.txt1 {
    text-align: left;
    color: green;
    font-size: xxx-large;
}

.txt2 {
    margin-top: 130px;
    float: left;
    position: absolute;
}

.paragrafo {
    width: 85%;
    margin-top: 70px;
}

/* produto principal*/
.imagem {
    height: 500px;
    margin: -380px 0px 50px 700px;
}

/* pagina 2*/
.container2 {
    height: 650px;

}
/* caixa de icones*/
.boxIcon {
    border-radius: 10px;
    box-shadow: 0px 1px 5px 5px rgb(191, 191, 192);
    background-color: white;
    position: relative;
    z-index: 1;
    margin: auto;
    width: 50%;
    display: inline-flexbox;
    padding: 30px 160px 80px 40px;

}

.icon1 {
    position: absolute;
    width: 200px;
}

.icon2 {
    position: absolute;
    margin-left: 300px;
    width: 200px;

}

.icon3 {
    position: absolute;
    margin-left: 600px;
    width: 200px;
}

.boxIcon p {
    position: absolute;
    left: 80px;
}

/*foto produto pag2*/
.imgPag2 {
    position: absolute;
    left: 100px;
    width: 500px;
}

/*texto*/
.txtPag2 {
    border-radius: 10px;
    box-shadow: 0px 1px 5px 5px rgb(191, 191, 192);
    background-color: white;
    position: absolute;
    width: 400px;
    padding: 40px;
    margin: 200px 0px 0px 650px ;
    z-index: 1;
}

.txtPag2 h1 {
    margin-bottom: 20px;
    font-size: xx-large;
}
/*box decoration*/
.boxDecoration {
    border: 3px solid green;
    padding: 100px;
    width: 100px;
    height: 200px;
    float: right;
    margin: -150px 150px 30px 0px;
}
/*pagina 3*/
.container3 {
    height: 1200px;
}

.imgPag3 {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
